.are-you-sure-dialog-overlay-container {

    display: flex;

    flex-direction: column;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 1000;

    justify-content: center;
    align-items: center;
}

.are-you-sure-dialog-container {
    display: flex;

    flex-direction: column;

    z-index: 1000;


   background-color: #0b3b6f;

    border-radius:1px;
    /*width: 250px;*/
    min-width:30vw;
    max-width: 80vw;
    padding: 40px 65px 15px 65px;
    border-radius: 8px;
    border: 1px solid #eee;
}



/* title */

.are-you-sure-dialog-title {

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: robotoregular, sans-serif;
    font-size: 55px;
    color: #ffffff;
    margin-bottom: 20px;
}





/* content */

.are-you-sure-dialog-content {

    display: flex;
    flex-direction: column;
    flex: 1;

    font-family: robotoregular, sans-serif;
    font-size: 18px;
    color: #9E9E9E;
}





/* action buttons */

.are-you-sure-dialog-action-btn-container {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    align-items: center;
    align-content: center;

    margin-top: 20px;
}

.are-you-sure-dialog-action-btn {
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-items: center;
    align-content: center;
    text-align: center;

    font-family: robotomedium, sans-serif;
    font-weight: bold;
    font-size:16px;
    padding: 8px 12px;
    margin: 9px 3px;
    text-decoration: none;
    border-radius: 2px;

    cursor: pointer;
    vertical-align: middle;
    color: #3d98ff;
    text-transform: uppercase;
    background-color: transparent;
    outline: 0;
    border: none;
}

.are-you-sure-dialog-action-btn:hover {
    background-color: #EEEEEE;
}

.are-you-sure-dialog-action-btn-remove {
    color: #ff0000
}